@charset "UTF-8";


#cbWriteForm_p{
	/* border: 1px red solid; */
	height: 30px;
	margin-top: 10px;
	/* margin-bottom: 5px; */
	text-align: right;
	vertical-align: bottom;
}
#cbWriteForm_p > span{
	font: 12px Tahoma, Arial;
}



#cbWriteFormT{
	border-collapse: collapse;
	border-style: hidden;
	border-top: 1px solid #6d7588;
	border-bottom: 1px solid #c6c6c6; 
	width: 100%;
	
}
#cbWriteFormT td{
	border: 1px solid #c6c6c6;
	height: 60px;
	padding-left: 20px;
	vertical-align: center;
} 
td.cbWriteFormT_col{
	font: bold 15px Tahoma, Arial;
	background-color: #f2f2f2;
	width: 180px;
}



#cbWriteFormT input[name="name"]{
	border: none;
	border-color: transparent;
	height: 30px;
	width: 80px;
	font: 15px Tahoma, Arial;
	text-align: right;
}
#cbWriteFormT input[name="travler"]{
	height: 30px;
	width: 100px;
	font: 15px Tahoma, Arial;
}
#cbWriteFormT input[name="email1"], #cbWriteFormT input[name="cbWriteFormT_tel"]
, #cbWriteFormT input[name="email2"]{
	height: 30px;
	width: 300px;
	font: 15px Tahoma, Arial;
}
#cbWriteFormT input[name="subject"]{
	height: 30px;
	width: 98%;
	font: 15px Tahoma, Arial;
}
select.cbWriteFormT_select{
	width: 200px;
	height: 30px;
	padding-left: 10px;
	color: #000000;
	border: 1px solid #f63d8b;
	border-radius: 3px;
}
select.cbWriteFormT_select>option{
	font: 15px Tahoma, Arial;
}
#cbWriteFormT textarea[name="content"]{
	height: 350px;
	width: 98%;
	vertical-align: top;
	font: 15px Tahoma, Arial;
	margin: 5px;
}
#cbWriteFormT_count{
	font: 12px Tahoma, Arial;
	text-align: right;
	margin-right: 5px;
	margin: 3px;
}
#cbWriteFormT_count > input{
	text-align: right;
	border: none;
	border-color: transparent;
}
#cbWriteFormT_btDiv{
	width:200px;
	margin: 0 42%;
}
#cbWriteFormT_resetBt{
	background-color: #ffffff; 
    border: #e85581 0.8px solid;
    color: #e85581;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 80px;
    height: 30px;
}
#cbWriteFormT_writeBt{
	background-color: #e85581; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 80px;
    height: 30px;
}
	